<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="https://github.com/Motohoy122/">Alex</a>. A web developer who is on a mission to help individuals improve their daily lives with coding through web applications.
  </p>
  <br />
  <p>
    He is a student of the UC Berkeley Coding Bootcamp and is finishing up his schooling to obtain the skills necessary to start his own software design business.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'alex.JPEG', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Alex Hoyer</h2>
      <br />
      <p>
        Alex Hoyer is a web developer in training. He currently runs a web design business <a target="_blank" href="https://evereststudio.co">Everest Studio</a> and he aspires to develop web applications to improve individuals workplace and home lives.
      </p>
      <br />
    </div>
  </div>
</div>
<br class="clear" />
<br />
<br />
<br />
<br />